
/* ***************************************
	RIVER
*************************************** */
.elgg-menu-river {
	float: left;
	margin-right: 15px;
	font-size: 90%;
	color: #aaa;
	line-height: 16px;
	height: 16px;
}
.elgg-menu-river > li {
	display: inline-block;
	margin-right: 5px;
}
.elgg-menu-river > li > a {
	color: #aaa;
	height: 16px;
}

.elgg-menu-river > li > a {
	display: block;
}
.elgg-menu-river > li > span {
	vertical-align: baseline;
}
