.elgg-river-comments {
	margin: 0;
	border-top: none;
}

.elgg-river-comments li {
	background-color: #EEE;
	border-bottom: none;
	padding: .5em;
	margin-bottom: 2px;
}

.elgg-river-comments .elgg-media {
	padding: 0;
}
