.elgg-river-item {
	padding: 7px 0;
}
.elgg-river-item .elgg-pict {
	margin-right: 20px;
}
.elgg-river-item form {
	background-color: #EEE;
	padding: 4px;
	
	border-radius: 5px;
}
.elgg-river-item input[type=text] {
	width: 80%;
}
