/* Delete: This button should convey "be careful before you click me" */
.elgg-button-delete {
	color: #bbb;
	text-decoration: none;
	border: 1px solid #333;
	background: #555 url('<?php echo elgg_get_site_url(); ?>_graphics/button_graduation.png') repeat-x left 10px;
	text-shadow: 1px 1px 0px black;
}

.elgg-button-delete:hover,
.elgg-button-delete:focus {
	color: #999;
	background-color: #333;
	background-position: left 10px;
	text-decoration: none;
}