/***** PAGE BODY LAYOUT ******/
.elgg-layout {
	min-height: 360px;
}

.elgg-layout-two-sidebar {
	background: transparent url('<?php echo elgg_get_site_url(); ?>_graphics/two_sidebar_background.gif') repeat-y right top;
}

.elgg-layout-error {
	margin-top: 20px;
}

.elgg-sidebar {
	float: left;
	margin: 0 10px 0 0;
	padding: 20px 10px;
	position: relative;
	width: 210px;
}

.elgg-sidebar-alt {
	float: right;
	margin: 0 0 0 10px;
	padding: 20px 10px;
	position: relative;
	width: 160px;
}

.elgg-main {
	background: white url(http://www.compasschurch.org/websites/compassbiblenew/templates/compass/images/bg_topnav.jpg) repeat-x;
	border-radius: 8px;
	min-height: 360px;
	padding: 10px;
	position: relative;
}

.elgg-main > .elgg-head {
	margin-bottom: 15px;
	margin-top: 5px;
}
