/**
 * CSS form/input elements
 *
 * @package Elgg.Core
 * @subpackage UI
 */

/* ***************************************
	Form Elements
*************************************** */
fieldset > div + div {
	margin-top: 15px;
}

label {
	font-weight: bold;
	color: #333;
}

input, textarea {
	border: 1px solid #ccc;
	box-sizing: border-box;
	color: #666;
	font-family: "Muli", Arial, Tahoma, Verdana, sans-serif;
	line-height: 1.4em;
	margin: 0;
	padding: 5px;
	width: 100%;	
}

input[type=text]:focus, textarea:focus {
	border: solid 1px #4690d6;
	background: #e4ecf5;
	color:#333;
}

input[type="checkbox"],
input[type="radio"] {
	margin:0 3px 0 0;
	padding:0;
	border:none;
	width:auto;
}
