
.elgg-button {
	border-radius: 5px;
	cursor: pointer;
	display: inline-block;
	font-size: 100%;
	font-weight: bold;
	padding: 2px 15px;
	width: auto;
}

.elgg-button:hover,
.elgg-button:focus {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
}
