.ui-tabs-hide {
	display: none;
}

.elgg-composer {
	border-top: 1px solid #CCC;
	margin-top: 7px;
	padding-top: 6px;
}

.elgg-composer > h4 {
	color: gray;
	display: inline-block;
	height: 22px;
	vertical-align: baseline;
}

.elgg-composer > .ui-tabs-panel {
	border: 1px solid #B4BBCD;
	margin-top: 5px;
	padding: 10px;
}
