.elgg-heading-site, a.elgg-heading-site {
	color: white;
	display: block;
	font-family: Georgia, times, serif;
	line-height: 1.4em;
	position: relative;
	text-decoration: none;
}

.elgg-heading-main {
	float: left;
	margin-right: 10px;
	color: #0a2b33;
	font-family: 'Crimson Text', serif;
	font-size: 23px;
	text-transform: uppercase; 
}

.elgg-heading-basic {
	color: #0054A7;
	font-size: 1.2em;
	font-weight: bold;
}

.elgg-heading-walledgarden {
	margin: 0 0 .5em !important;	
}
