/* ***************************************
	Image Block
*************************************** */
/* Default size is "tiny" for historical reasons */
.elgg-image-block > .elgg-image {
	float: left;
	line-height: 0;
	margin-right: .5em;
}
.elgg-image-block > .elgg-image-alt {
	float: right;
	margin-left: .5em;
}

.elgg-image-block.elgg-size-small > .elgg-image {
	margin-right: .75em;
}
.elgg-image-block.elgg-size-small > .elgg-image-alt {
	margin-left: .75em;
}
