/***** PAGE BODY LAYOUT ******/
.elgg-layout {
	min-height: 360px;
}

.elgg-layout-error {
	margin-top: 20px;
}

.elgg-sidebar {
	float: left;
	padding: 1em;
	position: relative;
	width: 21%;
	max-width: 210px;
}

.elgg-sidebar-alt {
	float: right;
	padding: 1em .5em;
	position: relative;
	width: 20%;
	max-width: 200px;
}

.elgg-main {
	min-height: 360px;
	position: relative;
}

.elgg-main > .elgg-head {
	background: white url('<?php echo elgg_get_site_url(); ?>mod/cbcoverseas/static/images/cbc/bg_topnav.jpg') repeat-x;
	height: 27px;
	padding: 1em 1em .7em;
}

.elgg-main > .elgg-content {
	overflow: hidden;
	padding: 0 1em;
}
