/**
 * Page Layout
 *
 * Contains CSS for the page shell and page layout
 *
 * Default layout: 956px wide, centered. Used in default page shell
 *
 * @package Elgg.Core
 * @subpackage UI
 */
 
/* ***************************************
	PAGE LAYOUT
*************************************** */
/***** DEFAULT LAYOUT ******/
/* the width is on the page rather than topbar to handle small viewports */
.elgg-page-default {
	background: #123040 url('<?php echo elgg_get_site_url(); ?>mod/missions.compasschurch.org/static/images/cbc/bg_container.jpg');
	min-height: 100%;
}


.elgg-page-default .elgg-page-header {
	box-shadow: 0 5px 10px #000;
	position: relative;
	z-index: 2;
}

.elgg-page-default .elgg-page-header > .elgg-inner {
	max-width: 956px;
	margin: 0 auto;
	height: 105px;
}

.elgg-page-default .elgg-page-body {
	padding: 0 15px;
	position: relative;
	z-index: 1;
}

.elgg-page-default .elgg-page-body > .elgg-inner {
	margin: 0 auto;
	max-width: 956px;
	padding: 30px 0 15px;
}

.elgg-page-default .elgg-page-footer {
	background: url('<?php echo elgg_get_site_url(); ?>mod/missions.compasschurch.org/static/images/cbc/bg_footer.png');
	box-shadow: 0 5px 10px #000;
}

.elgg-page-default .elgg-page-footer > .elgg-inner {
	margin: 0 auto;
	max-width: 956px;
	padding: 5px 0;
}



/***** TOPBAR ******/
.elgg-page-topbar {
	background: #333333 url('<?php echo elgg_get_site_url(); ?>_graphics/toptoolbar_background.gif') repeat-x top left;
	border-bottom: 1px solid #000;
	height: 24px;
	position: relative;
	z-index: 9000;
}

.elgg-page-topbar > .elgg-inner {
	padding: 0 10px;
}

/***** PAGE HEADER ******/
.elgg-page-header {
	background: transparent url('<?php echo elgg_get_site_url(); ?>mod/missions.compasschurch.org/static/images/cbc/bg_header.jpg') repeat-x top left;
	position: relative;
}
.elgg-page-header > .elgg-inner {
	position: relative;
}

/***** PAGE FOOTER ******/
.elgg-page-footer {
	position: relative;
}
.elgg-page-footer {
	color: #999;
}
.elgg-page-footer a:hover {
	color: #666;
}
