/* ***************************************
	River
*************************************** */
.elgg-list-river > li {
	border-bottom: 1px solid #CCC;
}
.elgg-river-timestamp {
	color: #666;
	font-size: 85%;
	font-style: italic;
	line-height: 1.2em;
}

.elgg-river-attachments,
.elgg-river-message,
.elgg-river-content {
	line-height: 1.5em;
	margin: 8px 0 5px;
}

.elgg-river-attachments .elgg-avatar,
.elgg-river-attachments .elgg-icon {
	float: left;
}

.elgg-river-layout .elgg-input-dropdown {
	float: right;
	margin: 10px 0;
}

.elgg-river-more {
	background-color: #EEE;
	
	padding: 2px 4px;
	font-size: 85%;
	margin-bottom: 2px;
}
