/* ***************************************
	River
*************************************** */
.elgg-river-timestamp {
	color: #666;
	font-style: italic;
}

.elgg-river-attachments,
.elgg-river-message,
.elgg-river-content {
	line-height: 1.5;
	margin: .25em 0;
}

.elgg-river-attachments .elgg-avatar,
.elgg-river-attachments .elgg-icon {
	float: left;
}

.elgg-river-layout {
	margin: 0 auto;
}

.elgg-river-layout .elgg-input-dropdown {
	margin: 1em 0;
}

.elgg-river-more {
	background-color: #EEE;
	font-size: .75em;
	margin-bottom: 2px;
}
